[Unit]
Description=OpenCode Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/ianpascoe
ExecStart=/home/linuxbrew/.linuxbrew/bin/zsh -lc "opencode web --port 4096"
TasksMax=512
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
